# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

__pypackages__/


# Environments
.env
.venv
venv/

# Pycharm
.idea/

# My files
example_adapter.py
example_lightning.py
playing_tc.py
tests_raw.py
tests_sw_api.py
support.py
swagger-codegen-cli.jar
generated/
python/
pyproject.toml